@model CloudComDevs.ShoppingCartDemo.Web.Models.Category

@{
    ViewBag.Title = "Create";
}   
@using (Html.BeginForm("create", "category", FormMethod.Post)){
                                                          
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <tr>

            <td>
                @Html.DisplayNameFor(model => model.CategoryName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CategoryName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description)

            </td>
        </tr>

        <tr>
            <input type="submit" value="Save" />
        </tr>
    </table>
}